@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*,
body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', Arial, sans-serif, system-ui, 'Arial Narrow', Arial,
		sans-serif, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
		'Fira Sans', 'Droid Sans', 'Helvetica Neue';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: none;
}

::-webkit-scrollbar-thumb {
	background-color: #92c34e;
}

::-webkit-scrollbar-thumb:hover {
	background: #92c34e;
}

/* ----------------------------------------- */
/* ----------------HEADER------------------- */
/* ------------------------------------------ */

/* --------------------nav--------------------- */

.active {
	color: #82ae46 !important;
}

.navbar-light .navbar-brand {
	color: #82ae46;
	font-weight: bold;
	transition: all 0.3s ease;
	font-family: 'Zilla slab';
	font-size: 25px;
}
.navbar-light .navbar-brand:hover {
	color: #92c34e;
}

.navbar-light .navbar-nav .nav-link {
	font-weight: 600;
}

.btn .icon {
	color: #82ae46;
	font-size: 25px;
}

/* ---------------home---------------- */

.home-section {
	background-image: url('https://ik.imagekit.io/maheshmaddhi/veggieBazaar/fruits-and-vegetables-boxes.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: whitesmoke;
	width: 100%;
}

.welcome-heading,
.welcome-para {
	color: white;
	font-size: clamp(30px, 5vw, 50px);
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	filter: blur(0px);
	padding: 18px 25px;
	border-radius: 8px;
	text-align: center;
	animation: fadeIn 1s ease;
}
.welcome-heading span {
	color: #82ae46;
}
.welcome-para {
	font-size: clamp(18px, 3vw, 30px);
	margin: 15px;
	padding: 10px 20px;
}
.welcome-para > a {
	color: rgb(148, 236, 8);
	font-weight: 600;
}
.welcome-para > a:hover {
	transform: scale(1.05);
}

/* -------------------about--------------- */

/* ---------------------------------------- */
/* --------------FOOTER-------------------- */
/* ---------------------------------------- */

hr {
	background-color: #616161;
}
footer {
	margin-top: 20px;
	padding: 40px;
	background-color: #f7f6f2;
}

.news-letter-secction {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 70px 40px;
	margin-top: 100px;
	background-color: #f7f6f2;
	flex-wrap: wrap;
}
.email-button input {
	padding: 15px 15px;
	font-size: 14px;
	margin: 0px;
	border: none;
}
.email-button > button,
button:focus {
	background-color: #82ae46;
	color: white;
	border: none;
	padding: 5px 10px;
}
.email-button > [type='email'] {
	width: 400px;
	border-radius: 3px;
	/* border: none; */
}
.email-button > [type='email']:focus {
	border: 2px solid rgba(130, 174, 70, 0.5);
	outline: none;
}

.partners-section {
	padding: 20px;
}
.partner-image {
	height: 150px;
	width: 150px;
	/* border: 1px solid rgb(201, 201, 201);
	border-radius: 50%;
	box-shadow: 0px 0px 10px grey; */
}
.partners-list {
	list-style: none;
	justify-content: space-evenly;
}
.menu-section,
.vegefoods-icons-section,
.quick-links-section,
.address-section {
	margin: 10px 20px;
}

.veggie-foods h5 {
	font-weight: bold;
	color: #82ae46;
}
.menu-section .menu {
	list-style: none;
}
.menu li a {
	text-decoration: none;
}
.quick-links-list {
	list-style-type: none;
	text-decoration: none;
}
.quick-links-list li a {
	text-decoration: none;
}
.quick-links-list li:hover a,
.menu li:hover a {
	color: #82ae46;
	font-weight: bold;
}

address .line {
	color: black;
	text-decoration: none;
	display: flex;
	align-items: center;
	margin: 10px;
}
.address .line:hover {
	transform: scale(1.5);
}
address .line i {
	margin-right: 12px;
	font-size: 20px;
}
address .line p {
	margin-bottom: 0px;
}

.social-icons {
	display: flex;
	justify-content: space-around;
	align-items: center;
	transition: all 0.3s ease;
	max-width: 400px;
}

.social-icons .icon {
	font-size: 30px;
	color: #616161;
	text-decoration: none;
	cursor: pointer;
}

.social-icons .fa-youtube:hover {
	color: red;
}
.social-icons .fa-instagram:hover {
	color: rgb(242, 0, 255);
}
.social-icons .fa-square-facebook:hover {
	color: rgb(48, 106, 255);
}
.social-icons .fa-x-twitter:hover {
	color: rgb(0, 0, 0);
}

.credits p a {
	text-decoration: none;
	margin: 0px 5px;
	font-weight: bold;
}
.credits p a:hover {
	color: #82ae46;
}

.copyrights span {
	font-weight: bold;
	color: #82ae46;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translate3d(0, 150%, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
